<body class="perfil">
  <div class="contenedor">
    <div class="card">
      <div class="card-content">
          <h1 class="card-title">Mis habilidades principales</h1>

          <ul>
            <li>
              <p> <strong>BACKEND: </strong> Asp.Net Core C#</p>
            </li>
            <li>
              <p> <strong>FRONTEND: </strong>Angular </p>
            </li>
            <hr color="white">
            <h2>Complementos:</h2>

            <li>
              <p>Azure</p>
            </li>
            <li>
              <p>SQL Server</p>
            </li>
            <li>
              <p>MySQL</p>
            </li>
            <li>
              <p>Firebase</p>
            </li>
            <li>
              <p>Docker</p>
            </li>
            <hr color="white">
            <h2>Habilidades Secundarias: </h2>
            <li>
              <p><strong>MOVIL: </strong>Ionic</p>
            </li>
            <li>
              <p><strong>MOVIL: </strong>Flutter</p>
            </li>


          </ul>
      </div>
    </div>
  </div>
</body>
