h1.perfil{
  font-weight: bold;
  color: #cc1634;
}

p{
  font-size: large;
  font-weight: bold;
  color: white;
  font-size: 21px;
}

body.perfil{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  opacity: 0.75;
  background-color: transparent;
}
li{
  color: #b1122c;
  font-size: 22px;
}
.contenedor{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.card {
  margin-top: -200px;
  background-color: rgb(22, 10, 46);
  /* width: 1200px;
  height: 550px; */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-dos{
  margin-top: -250px;
  background-color: rgb(22, 10, 46);
  width: 1200px;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {

  padding: 20px;
}

.card-title {
  margin-bottom: 10px;
  font-weight: bolder;
  color: #b1122c;
}

.card-description {
  color: #555;
  font-weight: bold;
  font-size: 26px;
}
