<body class="inicio">
  <div class="contenedor">
    <div class="card">
      <div class="card-content">
          <h1 class="card-title">David Herrera Bermúdez</h1>
          <hr style="color: black;">
          <p class="card-description">Universidad San Buenaventura - Cali.</p>
          <p class="card-description">Ingenieria de sistemas, enfasis Desarrollo Software </p>
          <p class="card-description">Decimo Semestre Culminado (10) </p>
          <p class="card-description">Desarrollador de software-Backend </p>
      </div>
    </div>
  </div>
</body>
<body class="inicio">
  <div class="contenedor">
    <div class="card-dos">
      <div class="card-content">
          <div>
            <h1 class="card-title">Lo que me representa:</h1>
          </div>
          <hr style="color: black;">
          <p class="card-description">La comunicacion, dentro de cualquier entorno, es clave para los distintos desarrollos de situaciones, no solo en un ambito
            laboral, considero que es una de mis habilidades blandas en conjunto de mi liderazgo y la empatia.
          </p>
          <p class="card-description">
            La vision debe ser parte de nuestras habilidades, es el primer paso al progreso continuo.
          </p>
          <p class="card-description">
            El respeto, no es negociable bajo ninguna situacion, no importa el rol.
          </p>
          <p class="card-description">
            Soy Herrero de software, desde lo mas fuerte y e inquebrantable del escudo de un guerrero hasta el trabajo mas fino del filo y los diseños de un
            buen estandarte.
          </p>
      </div>
    </div>
  </div>
</body>
