<body class="proyectos">
  <div class="contenedor">
    <div class="card">
      <div class="card-content">
          <h1 class="card-title">Tarjetas de Credito .Net y Angular </h1>
          <hr>
          <div>
            <img src="./../../../assets/images/proyecto_tarjetas/frontend_angular.png" alt="Frontend">
            <img src="./../../../assets/images/proyecto_tarjetas/backend_swagger.png" alt="Backend">
          </div>
          <hr>
          <p>CRUD de tarjetas de credito, donde implementé Asp .Net Core Api Rerst y sus respectivos "endpoints".</p>
          <h3>Tecnologias</h3>
          <ul>
            <li><p>Asp .Net 7 Core</p></li>
            <li><p>Entity Framework</p></li>
            <li><p>Angular 17</p></li>
            <li><p>Bootstrap</p></li>
            <li><p>SQL Server</p></li>
          </ul>
          <hr>
          <div>
            <h3>Proyectos en github.(Proximos a desplegarse)</h3>
            <ul>
              <li><a href="https://github.com/davidhb7/frontend_tarjetas_credito.git">Proyecto Front</a></li>
              <li><a href="https://github.com/davidhb7/backend_tarjetas_credito.git">Proyecto Backend</a></li>
            </ul>
          </div>


          <p>Nota: Base de datos, no implementada a una nube.</p>
      </div>
    </div>
  </div>
</body>
